<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-orders-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->
<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/adminassets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/adminassets/css/main.css" rel="stylesheet" type="text/css" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        /* Custom CSS styles for the table */
        table {
          width: 100%;
          border-collapse: collapse;
        }
      
        th, td {
          padding: 8px;
          text-align: left;
          border-bottom: 1px solid #ddd;
        }
      
        th {
          background-color: #f2f2f2;
          font-weight: bold;
        }
      
        .product-names {
          white-space: nowrap;
        }

        .main-header{
            background: linear-gradient(to right, #73c8a9, black);
        }

        .aside-top{
            background-color: black;
        }

        .navbar-aside{
            background: linear-gradient(to right, #73c8a9, black);
        }

        .brand-wrap h3{
            color: white;
        }

        .content-title.card-title{
            color: black;
        }

        #dashboardtext{
            color: black;
            
        }

        .text{
            color: black;
            font-weight: bolder;
        }

        #menu-item-card{
            background-color: mediumseagreen;
        }

        .btn.btn-primary{
            background-color: black;
        }

        .card.card-body.mb-4{
            background-color: mediumseagreen;
        }

        .card.mb-4{
            background-color: mediumseagreen;
        }

        .card-header{
            background-color: black;
        }

        footer {
            background: linear-gradient(to right, #73c8a9, black);
            margin: 0;
            padding: 0;
        }

        footer.main-footer {
             bottom: -49px;
             padding: 26px 3%;
             position: absolute;
             right: 0;
             width: 100%;
             height: 84px;
        }

        .card-title {
            margin-bottom: 3rem;
        }

        .status-select{
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .update-status-button{
            padding: 5px 10px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .update-status-button :hover{
            background-color: #0056b3;
        }

        .modal{
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .modal-content{
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 800px;
        }

        .close{
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }

        .close :hover{
            color: black;
        }

      </style>
      
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admin/dashboard" class="brand-wrap"> <h3>TOBYTONE</h3> </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item" id="menu-item-card">
                    <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text"> <h4>Dashboard</h4></span>
                    </a>
                </li>
                <li class="menu-item" id="menu-item-card">
                    <a class="menu-link" href="/admin/allproducts"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text"> <h4>Products</h4></span>
                    </a>
                </li>
                <li class="menu-item" id="menu-item-card">
                    <a class="menu-link" href="/admin/orderlist"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text"> <h4>Orders</h4></span>
                    </a>
                    
                </li>
               
                    
               
                <li class="menu-item" id="menu-item-card">
                    <a class="menu-link" href="page-transactions-1.html"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text"> <h4> Transactions </h4></span>
                    </a>
                   
                </li>
                <li class="menu-item" id="menu-item-card">
                    <a class="menu-link" href="/admin/userlist"> <i class="icon material-icons md-person"></i>
                        <span class="text"> <h4>Users</h4></span>
                    </a>
                   
                </li>

                <li class="menu-item" id="menu-item-card">
                    <a class="menu-link" href="/admin/banner-page"> <i class="icon material-icons md-store"></i>
                        <span class="text"> <h4> Banner management </h4></span>
                    </a>
                   
                </li>
                <li class="menu-item" id="menu-item-card">
                    <a class="menu-link" href="/admin/coupon">  <i class="icon material-icons md-local_offer"></i></i>
                        <span class="text"> <h4> Coupon Management </h4></span>
                    </a>
                   
                </li>
                
               
                <li class="menu-item" id="menu-item-card">
                    <a class="menu-link" disabled href="/admin/sales-report"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text"> <h4>Sales Report</h4></span>
                    </a>
                </li>               
     
                
            </ul>
            <hr>
            
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <div>
                    <h2 class="content-title card-title">Order List </h2>
                   
                </div>
            </div>
              </header>
        <section class="content-main">
            <div class="content-header">
                
                <div>
                    <input type="text" placeholder="Search order ID" class="form-control bg-white">
                </div>
            </div>
            
            <table>
                <thead>
                  <tr>
                    <th>ORDER ID</th>
                    <th>CUSTOMER NAME</th>
                    <th>EMAIL</th>
                    <th>ORDER DATE</th>
                   
                    <th>STATUS</th>
                   
                  </tr>
                </thead>
                <tbody>
                  <% orders.forEach(order=>{%>
                    <tr>
                      <td><%=order._id%></td>
                      <td><%=order.customerName%></td>
                      <td><%=order.email%></td>
                      <td><%=new Date (order.orderDate).toLocaleString('en-US')%></td>
                     <td>
                      <%order.products.forEach(product=>{%>
                        <% if (product.productId && product.productId.title) { %>
                            <%= product.productId.title %><br>
                          <% } %>
                     <% }) %>
                     </td>
                     
                      <td>
                        <%order.products.forEach(product=>{%>
                            <% if (product.productId && product.productId.cost) { %>
                                <%= product.productId.cost %><br>
                              <% } %>
                        <%})%>
                        </td>
                     <td><%=order.status%></td>
                     <td>
                        <select class="status-select">
                            <option value="Pending" <%= order.status === 'Pending' ? 'selected' : '' %>>Pending</option>
                            <option value="Placed" <%= order.status === 'Placed' ? 'selected' : '' %>>Placed</option>
                            <option value="Delivered" <%= order.status === 'Delivered' ? 'selected' : '' %>>Delivered</option>
                        </select>
                    <div>
                        <button class="update-status-button" data-order-id="<%= order._id %>">Submit</button>
                    </div>

                    <td>
                       <a  class="view-order-button" data-order-id="<%=order._id%>">View Order</a>
                    </td>
                  
                    </td>
                    
                        
                  
                    </tr>
                  <%})%>
                </tbody>
              </table>
              
                
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendors/select2.min.js"></script>
    <script src="assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="assets/js/main.js" type="text/javascript"></script>


    <script>

        $(document).ready(function(){
            $('.update-status-button').on('click',function(){
                const orderId = $(this).data('order-id');
                const newStatus = $(this).closest('tr').find('.status-select').val();

                $.ajax({
                    method : 'POST',
                    url : '/admin/update-order-status',
                    data : {orderId,newStatus},
                    success : function(response){
                        location.reload();
                    },
                    error : function(error){
                        console.error('error : ',error);
                    }
                })
            })

            
     })

    </script>

    
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeModal">&times;</span>
            <h2>Order Details</h2>
            <div id="orderDetails"></div>
        </div>
    </div>

    <script>

        document.addEventListener("DOMContentLoaded",function(){
            const modal = document.getElementById('myModal');
            const closeModal = modal.querySelector('.close');
            const orderDetailsContainer = document.getElementById('orderDetails');

            const viewOrderButtons = document.querySelectorAll('.view-order-button');

            viewOrderButtons.forEach((button)=>{
                button.addEventListener('click',function(){
                    const orderId = button.dataset.orderId;

                    fetch(`/admin/getordersummary?orderId=${orderId}`)
                    .then((response)=>response.json())
                    .then((data)=>{
                        const orderHTML = `
                        <p><strong>Order ID:</strong> ${data._id}</p>
                        <p><strong>Customer Name:</strong> ${data.customerName}</p>
                        <p><strong>Email:</strong> ${data.email}</p>
             
                        <h3>Products:</h3>
                        <ul>
                        ${data.products.map((product)=>`
                            <li>
                                <img src="/uploads/${product.productId.image[0]}" alt="${product.productId.title}" width="50">
                                ${product.productId.title} - ${product.productId.cost}
                            </li>
                            `).join("")}
                        </ul>
                       `;
                       orderDetailsContainer.innerHTML = orderHTML;
                       modal.style.display = 'block';
                    })
                    .catch((error)=>console.error(error));
                })
            })

            closeModal.addEventListener('click',function(){
                modal.style.display = 'none';
            });

            window.addEventListener('click',function(event){
                if(event.target === modal){
                    modal.style.display = 'none';
                }
            })
        })

    </script>


</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-orders-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:22 GMT -->
</html>